:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;

  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: #f9f9f9;
  align-items: flex-start;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  /* height: 6em; */
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.header__nav {
  /* padding-top: 20px; */
  border-radius: var(--radius-4);
  border: var(--border-size-2) solid var(--orange-9);
  /* background-color: var(--orange-9); */
  margin-top: 20px;
  padding: 20px;
  box-shadow: var(--inner-shadow-4);
  position: sticky;
}

.header-list {
}

.header__item {
  list-style: none;
  display: block;
  margin: 0 20px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}


.nav__active {
  border-bottom:var(--border-size-3) solid var(--orange-9) ;
}

.header__logo, .header__tool {
  padding: 0 20px;
}

.header__tool {
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
  font-size: 20px;
}

.header__tool:hover {
  filter: drop-shadow(0 0 2em #ffe100aa);
  transition: filter 300ms ease-in-out;
}

.body {
  margin-top: 20px;
}

.round-4 {
  border-radius: var(--radius-4) !important;
}

.color-primary {
  background-color: #f77f00 !important;
}

.product__card {
  
}

.product__card:hover {
  border: var(--border-size-2) solid var(--orange-9);
}

.product__price {
  font-size: var(--font-size-4);
  color: #f77f00 !important;;
}

